# Raneto .env file
# https://github.com/ryanlelek/Raneto
# https://raneto.com/

# Copy this file to .env

# SESSION_SECRET is the essential variable in this file
# It must be 32 characters. You can type 32 characters or use
# openssl rand -base64 32
SESSION_SECRET=CHANGE_THIS_32_CHAR_SECRET_BEFORE_USE_123456
