
<div class="row">
  <div class="col-sm-12">
    {{#meta.title}}<h1 class="title">{{meta.title}}</h1>{{/meta.title}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <section class="content">
      <div class="alert alert-success" id="edit-status" style="display: none;" role="alert"></div>
      <h3>Editor</h3>
      <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-primary close-edit">Close</button>
        <button type="button" class="btn btn-success save-page">Save</button>
      </div>
      <textarea id="entry-markdown">{{{content}}}</textarea>
    </section>

  </div>
  <div class="col-sm-6">

    <section class="content">
      <h3>Preview</h3>
      <div class="entry-preview-content">
        <div class="rendered-markdown"></div>
      </div>
      <div class="page-meta clearfix">
        <div class="last-updated pull-right">
          Last updated on {{last_modified}}
        </div>
      </div>
    </section>

  </div>
</div>
