.header {
  color: #CCC;
  background: #b3ba3f;
}

.header .container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header a {
  color: #DDD;
}

.header a:hover {
  color: #FFF;
  text-decoration: none;
}

.header .logo {
  margin-left: 20px;
  font-size: 20px;
  line-height: 34px;
}

.header .logo img {
  width: 200px;
}

.header .search-form {
  margin-right: 20px;
}

.menu {
  padding: 0;
  margin: 40px 20px;
  list-style: none;
}

.menu .pages {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li {
  line-height: 30px;
}

.menu .category-title {
  margin: 25px 0 10px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.menu a {
  display: inline-block;
  line-height: 20px;
  color: #888;
}

.menu a:hover {
  color: #444;
  text-decoration: none;
}

.menu .active a {
  font-weight: bold;
  color: #444;
}

.page-home .header .search-form {
  display: none;
}

.home-search {
  text-align: center;
}

.home-categories {
  margin: 0 10px;
}

.home-categories .panel-heading {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

.home-categories .panel-heading,
.home-categories .panel .page {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  padding: 40px;
  margin: 40px 20px;
  color: #555;
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0 1px 50px rgba(0,0,0,0.1);
  box-shadow: 0 1px 50px rgba(0,0,0,0.1);
}

.content .title {
  margin: 0 0 30px 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #222;
}

.content p,
.content ul,
.content ol,
.content pre,
.content blockquote,
.content table,
.content iframe {
  margin-bottom: 1em;
}

.content img {
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  margin: 0 auto;
  background: #FFF;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content code {
  color: #555;
  background-color: #FFFDDC;
}

.content pre {
  background: #FFFDDC;
  border: 0;
}

.content pre code {
  color: #657B83;
}

.content .hljs {
  background: none;
}

.content .page-meta {
  margin-top: 50px;
  font-size: 85%;
  color: #999;
}

.content .page-meta a {
  color: #999;
  border-bottom: 1px dotted #999;
}

.content .page-meta a:hover {
  color: #428BCA;
  text-decoration: none;
}

.footer .copyright {
  margin: 0 20px 40px 0;
  font-size: 85%;
  color: #999;
}

.page-excerpt .search-query {
  background: #FFFDDC;
}

.error {
  padding: 0 20px;
}

.tag-selector-container {
  width: 100%;
  display: none; /* hidden by default */
}

.tag-selector-container td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 767px) {

  .home-search .form-group {
    margin-bottom: 0;
  }

  #home-search {
    margin-bottom: 10px;
  }

}

/* general style for the form */
.nl-form {
  width: 100%;
  margin: 0.3em auto 0 auto;
  font-size: 3em;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select,
.nl-form button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: white;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.nl-form-button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nl-form input:focus {
  outline: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
  display: inline-block;
  position: relative;
}

.nl-field.nl-field-open {
  z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
  line-height: inherit;
  display: inline-block;
  color: #478CDB;
  cursor: pointer;
  border-bottom: 1px dashed #B2BB1E;
}

a:hover
{
    color: #026288;
    text-decoration: none;
}

/* drop-down list / text element */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #478CDB;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
  color: #fff;
  position: relative;
}

.nl-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
  color: #026288;
}

.no-touch .nl-dd ul li:hover {
  background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
  color: #478982;
}

/* icons for some elements */
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.nl-dd ul li.nl-dd-checked:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}

.nl-ti-text ul {
  min-width: 8em;
}

.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff;
}

.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
  width: 1.8em;
  text-align: center;
  color: white;
}

.nl-field-go:before {
  content: "\e001";
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

/* example field below text input */
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0,0,0,0.2);
  border-top: 1px dashed rgba(255,255,255,0.7);
}

.nl-ti-text ul li.nl-ti-example em {
  color: #fff
}

/* submit button */
.nl-submit-wrap {
  margin-top: 0.4em;
}

.nl-submit {
  line-height: 5;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: #478CDB;
  color: white;
  padding: 0 1em;
  font-size: 70%;
  font-weight: bold;
  letter-spacing: 5px;
}

.nl-submit:hover,
.nl-submit:active {
  background: #026288;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.nl-container {
  background: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-left: 0;
  margin-left: -15px;
  padding-top: 130px;
  display: none;
  overflow: scroll;
}

.view-all-articles-button {
  margin-top: 15px;
  border: 0;
  background: #b3ba3f;
  border-radius: 25px;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

@media screen and (max-width: 45em) {
  .nl-form {
    font-size: 3em;
  }
}

@media screen and (max-width: 25em) {
  .nl-form {
    font-size: 2em;
  }
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #b3ba3f; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }

#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .input-lg {
    width: 665px !important;
  }
}

.btn-lg {
  background-color: #b3ba3f !important;
  border-color: #9da241 !important;
}


