
<div class="row">
  <div class="col-sm-12">
    {{#meta.title}}<h1 class="title">{{meta.title}}</h1>{{/meta.title}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <section class="content">
      <div class="alert alert-success" id="edit-status" style="display: none;" role="alert"></div>
      
      <div class="btn-group btn-group-sm float-right" role="group" aria-label="...">
        <button type="button" class="btn btn-primary close-edit">{{lang.global.close}}</button>
        <button type="button" class="btn btn-success save-page">{{lang.global.save}}</button>
      </div>
      <h3>{{lang.global.editor}}</h3>

      <div>
        <div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">

            <div class="card-header" role="tab" id="headingOne">
              <h4 class="card-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{lang.edit.headerMetaInfo}}
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="card-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-body">
                <div class="form-group">
                  <label for="entry-metainfo-title" class="col-form-label col-sm-3">{{lang.edit.lableMetaTitle}}</label>
                  <div class="col-sm-9">
                    <input id="entry-metainfo-title" type="text" value="{{{meta.custom_title}}}" class="form-control"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label for="entry-metainfo-title" class="col-form-label col-sm-3">{{lang.edit.lableMetaDescription}}</label>
                  <div class="col-sm-9">
                    <input id="entry-metainfo-description" type="text" value="{{{meta.description}}}" class="form-control"></input>
                  </div>
                </div>
                <div class="form-group">
                  <label for="entry-metainfo-title" class="col-form-label col-sm-3">{{lang.edit.lableMetaSort}}</label>
                  <div class="col-sm-9">
                    <input id="entry-metainfo-sort" type="number" value="{{{meta.sort}}}" class="form-control"></input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea id="entry-markdown">{{{content}}}</textarea>
        </div>
      </div>

      
      <div class="btn-group btn-group-sm float-right" role="group" aria-label="...">
        <button type="button" class="btn btn-primary close-edit">{{lang.global.close}}</button>
        <button type="button" class="btn btn-success save-page">{{lang.global.save}}</button>
      </div>
    </section>

  </div>
  <div class="col-sm-6">

    <section class="content">
      <h3>{{lang.edit.preview}}</h3>
      <div class="entry-preview-content">
        <div class="rendered-markdown"></div>
      </div>
      <div class="page-meta clearfix">
        <div class="last-updated float-right">
          {{lang.global.lastUpdated}} {{last_modified}}
        </div>
      </div>
    </section>

  </div>
</div>
