<div class="home-search jumbotron row">
  <form class="search-form form-inline" action="{{config.base_url}}/">
    <div class="form-group">
      <label class="sr-only" for="home-search">{{lang.home.searchKnowledgeBase}}</label>
      <input type="search" class="form-control input-lg" name="search" id="home-search" size="50" placeholder="{{lang.home.searchKnowledgeBase}}">
      <button type="submit" class="btn btn-primary btn-lg">{{lang.global.search}}</button>
    </div>
  </form>
  <br>
  <div class="tag-selector-container" align="center">
    <table>
      <tr>
        <td>
          <span>Taggroup1</span><br>
          <select id="tag_group_1">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </td>
        <td>
          <span>Taggroup2</span><br>
          <select id="tag_group_2">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </td>
        <td>
          <span>Taggroup3</span><br>
          <select id="tag_group_3">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="home-categories row">
  {{#pages}}
    {{#is_index}}
      {{#files.length}}
        <div class="col col-sm-4 col-xs-12">
          <div class="panel panel-default {{class}}">
            <h2 class="panel-heading">{{lang.global.mainArticles}}</h2>
            <ul class="list-group pages">
              {{#files}}
                <li class="list-group-item page"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
              {{/files}}
            </ul>
          </div>
        </div>
      {{/files.length}}
    {{/is_index}}
    {{^is_index}}
      <div class="col col-sm-4 col-xs-12" style="opacity: 0;">
        <div class="panel panel-default {{class}}">
          <h2 class="panel-heading">{{title}}</h2>
          <ul class="list-group pages">
            {{#files}}
              {{^is_directory}}
                <li class="list-group-item page"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
              {{/is_directory}}
              {{#is_directory}}
                <li class="list-group-item page">{{title}}
                  {{#files}}
                    <ul>
                      {{^is_directory}}
                        <li><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                      {{/is_directory}}
                      {{#is_directory}}
                        <li>{{title}}</li>
                        <ul>
                          {{#files}}
                            <li><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                          {{/files}}
                        </ul>
                      {{/is_directory}}
                    </ul>
                  {{/files}}
                </li>
              {{/is_directory}}
            {{/files}}
          </ul>
        </div>
      </div>
    {{/is_index}}
  {{/pages}}
</div>
<script>
  function getQueryStringValue (key) {  
    return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
  }

  window.onload = function () { 
    // show/hide list groups that have more than 0 or less than 0 items
    $(".list-group").each(function(){
      if($(this).find(".list-group-item").length = 0){
        $(this).closest(".col").css("display", "none");
      }
      if($(this).find(".list-group-item").length > 0){
        $(this).closest(".col").css("opacity", "1");
      }
    });

    // parse the tag arguments in URL
    var tagsArray = getQueryStringValue("tags").split(",");
    // set the tags initially to match the url tags
    if(tagsArray != ""){
      // show the tag groups
      $(".tag-selector-container").css("display", "block");

      // tag group 1
      if($("#tag_group_1 option[value='" + tagsArray[0] + "']").length > 0){
        $("#tag_group_1").val(tagsArray[0]);
      } else {
        console.log("Tag " + tagsArray[0] + " does not exist.");
      }
      // tag group 2
      if($("#tag_group_2 option[value='" + tagsArray[1] + "']").length > 0){
        $("#tag_group_2").val(tagsArray[1]);
      } else {
        console.log("Tag " + tagsArray[1] + " does not exist.");
      }
      // tag group 3
      if($("#tag_group_3 option[value='" + tagsArray[2] + "']").length > 0){
        $("#tag_group_3").val(tagsArray[2]);
      } else {
        console.log("Tag " + tagsArray[2] + " does not exist.");
      }

      // detect change in tag groups and change URL accordingly
      $('#tag_group_1').change(function(){
        window.location.href = window.location.origin + "/?tags=" + $(this).find("option:selected").attr('value') + "," + tagsArray[1] + "," + tagsArray[2] 
      });
      $('#tag_group_2').change(function(){
        window.location.href = window.location.origin + "/?tags=" + tagsArray[0] + "," + $(this).find("option:selected").attr('value') + "," + tagsArray[2] 
      });
      $('#tag_group_3').change(function(){
        window.location.href = window.location.origin + "/?tags=" + tagsArray[0] + "," + tagsArray[1] + "," + $(this).find("option:selected").attr('value')
      });

    }
  }
</script>
