<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{#meta.title}}{{meta.title}} - {{/meta.title}}{{config.site_title}}</title>
  {{#meta.description}}<meta name="description" content="{{meta.description}}">{{/meta.description}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{config.base_url}}/favicon.ico">
  <link rel="stylesheet" href="{{config.base_url}}/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{config.base_url}}/bower_components/highlightjs/styles/solarized_light.css">
  <link rel="stylesheet" href="{{config.base_url}}/styles/raneto.css">
  <link rel="stylesheet" href="{{config.base_url}}/styles/ghostdown.css">

  {{{config.analytics}}}

</head>
<body class="{{body_class}}">

  <!-- Header -->
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <a href="{{config.base_url}}/" class="logo">{{config.site_title}}</a>
        </div>
        <div class="col-sm-6">
          <form class="search-form form-inline pull-right" action="{{config.base_url}}/">
            <div class="form-group">
              <label class="sr-only" for="search">Search</label>
              <input type="search" class="form-control" name="search" id="search" size="30" value="{{search}}" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Main -->
  <div class="container-fluid">
    {{{yield}}}
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="container-fluid">
      {{#config.copyright}}
        <p class="copyright pull-right">{{{config.copyright}}}</p>
      {{/config.copyright}}
    </div>
  </footer>

  {{#config.allow_editing}}

    <!-- Modal: Add Page -->
    <div class="modal fade" id="addModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add New Page</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="page-name" class="control-label">Page Name:</label>
              <input type="text" class="form-control" id="page-name">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
            <button class="btn btn-primary" id="add-page-confirm" type="button">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal: Delete Page -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this page?</h4>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" type="button">No</button> 
            <button class="btn btn-primary" id="delete-page-confirm" type="button">Yes</button>
          </div>
        </div>
      </div>
    </div>

  {{/config.allow_editing}}

  <!-- JavaScript -->
  <script src="{{config.base_url}}/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{config.base_url}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{config.base_url}}/bower_components/highlightjs/highlight.pack.js"></script>
  <script src="{{config.base_url}}/bower_components/fitvids/jquery.fitvids.js"></script>
  <script src="{{config.base_url}}/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
  <script src="{{config.base_url}}/scripts/ghostdown.js"></script>
  <script src="{{config.base_url}}/scripts/raneto.js"></script>

</body>
</html>