
<div class="row">
  <div class="col-sm-3">

    <ul class="menu">
      {{#pages}}
        {{#is_index}}
          {{#files}}
            <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
          {{/files}}
        {{/is_index}}
        {{^is_index}}
          <li class="category">
            <h5 class="category-title">{{title}}</h5>
            <ul class="pages">
              {{#files}}
                <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
              {{/files}}
            </ul>
          </li>
        {{/is_index}}
      {{/pages}}
    </ul>

  </div>
  <div class="col-sm-9">

    <section class="content search">
      <h3 class="title">{{lang.search.resultsFor}}: {{search}}</h3>
      {{#searchResults.length}}
        {{#searchResults}}
          <div class="page">
            <h2 class="page-title"><a href="{{config.base_url}}/{{slug}}">{{title}} {{#category}}<span style="color: #DDD;">({{category}})</a>{{/category}}</h2>
            <div class="page-excerpt">{{{excerpt}}}</div>
          </div>
        {{/searchResults}}
      {{/searchResults.length}}
      {{^searchResults.length}}
        <p class="nothing-found">{{lang.search.noResultsFor}} "{{search}}"</p>
      {{/searchResults.length}}
    </section>

  </div>
</div>
